#=======================================================# 
# Reglas para ignorar archivos                          #
#=======================================================#
/node_modules
/App/public/css
/App/public/js