meta(charset="UTF-8")/
link(rel="stylesheet" type="text/css" href=`${path}/css/style-pokedex.css`)/
link(rel="icon" type="image/png" sizes="128x128"  href=`${path}/img/favicon.png`)/
title .:: Pókedex | !{title} ::.