meta(charset="UTF-8")/
link(rel="stylesheet" type="text/css" href=`${global.DOMAIN}/css/style-pokedex.css`)/
link(rel="icon" type="image/png" sizes="128x128"  href=`${global.DOMAIN}/img/favicon.png`)/
title .:: Pókedex | !{title} ::.
