doctype html
html(lang="es")
    head
        include commons/metas.pug
    body
        div.container
            div.row
                div.alert.alert-dismissible.alert-success
                    strong !{title}